@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


*,
*::before,
*::after{
	box-sizing: border-box;
}

:root{
	--midnight-blue: #191970;
	
}
html{
	color: var(--midnight-blue);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background: #f6f6f6;
}

#root{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	overflow-x: hidden;

}



.flex{
	display: flex;
	gap: var(--gap, 2rem);
}


/*  header */
header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-weight: 600;
	position: sticky;
}
.mobile-nav-toggle{
	display: none;
}

.navbar{
	list-style: none;
	padding: 1rem;
	margin: 0;
	background: hsl(0, 0%, 100% / 0.75);
	backdrop-filter: blur(1rem);


	
}


.navbar a {
	text-decoration: none;
	color: var(--midnight-blue);
}
.navbar a:hover{
	color: #5757A7;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}





.banner{
	height: 90vh;
	overflow-x: clip;
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* background: #efffef; */
	justify-items: stretch;
	align-items: center;
	gap: 2.5rem;
	padding-inline: 10%;
	

}

h1{
	font-size: 3rem;
	font-weight: 800;
}

h1+p {
	font-size: 1.25rem;
  	font-weight: 400;
	text-align: justify;
}
h2{
	font-size: 2rem;
}

.img-container{
	margin-left: 2.5rem;
/*	padding: 2rem;*/
	height:385px;
 	width: 300px;
 	box-shadow: 0.35rem .5rem .75rem .15rem;
 	color: #fefeff;
/* 	background: var(--midnight-blue);*/
/*	border: solid;*/
	border-radius: .75rem;

}

/* .img-container img {


 }
*/
a img{
	height: 2.5rem;
	width: 2.5rem;
	color: var(--midnight-blue);
}


 .btn-wrapper{
 	display: flex;
 	align-items: center;
	justify-content: stretch;
	gap: 1rem;
 }

.btn{
	margin-top: 3%;
	padding: 1.5rem 2.5rem;
	border: 2px solid;
	text-align: center;
	background-color: #5757A7;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}

.btn:hover{
	background-color: #43437e;
}


 .grid{
	display: grid;
	gap: 2rem;
 }

 .skills-container{
	display: flex;
	flex-wrap: wrap;
 }

 .card{

 	/* padding: 2rem; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* text-align: center; */
 }

.section-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-inline: 25%;
	background-color: #f6f6f6;
	padding-top: 10%;
	

}

.project-card{
	border: solid;
	padding: 3em;
	text-decoration: none;
}

.project:hover{
	background-color: hsla(0, 1%, 27%, 0.082);
}
.project-card h4{
	color: #5757A7;
	font-weight: 500;
	/* font-style: italic; */
}
 

 .card img {
	height: 80px;
	width: 60px;
	padding: 0.5rem;
 }

 .contact-wrapper{
	display: flex;
	justify-content: space-evenly;
	gap: 2.5rem;

 }

 .contact-info{
	text-align: center;
 }

 footer{
	color: var(--midnight-blue);
	padding-block: 1%;
	margin-top: 1%;
	background: hsla(0, 1%, 27%, 0.082);
	font-weight: 600;
	width: 100%;
	
 }

 @media (max-width: 45em){
	.navbar{
		--gap: 1em;
		inset: 0 0 0 30%;
		position: fixed;
		
		flex-direction: column;
		padding: min(30vh, 10rem) 2rem;
		z-index: 1000;
	

		transform: translateX(100%);
		transition: transform, 300ms ease-in ;
		

	}

	.navbar[data-visible='true']{
		transform: translateX(50%);

	}
	.navbar li{
		padding: 1rem;
	}

	


	.mobile-nav-toggle{
		display: block;
		position: absolute;
		background-color: transparent;
		background-image: url("./assets/icons/icon-hamburger.svg"); 
		background-repeat: no-repeat;
		border: 0;
		z-index: 9999;
		width: 2rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2em;
	}

	.mobile-nav-toggle[aria-expanded ="true"]{
		background-image:url("./assets/icons/icon-close.svg") ;
	}
	.banner{
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
	}

	.banner:nth-child(1){
		align-self: center;
		text-align: center;
		padding-inline: 25% ;
	}
	.banner:nth-child(2){
		align-self: center;
		padding-inline: 25%;
	}

	.contact-wrapper{
		flex-direction: column;
		gap: 0.25rem;
		font-weight: 500;
	}
}